@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 192, 192);
    overflow-y: scroll;
    height: 200vh;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.8em;
}

body::-webkit-scrollbar-track {
    background-color: #060D0D;
}

body::-webkit-scrollbar-thumb {
    background-color: #F9F2F2;
    border-radius: 10px;
}


.navbar {
    background-color: #060D0D;
    height: 100px;
    width: 100%;
    position: fixed;
    margin-top: 0;
    -webkit-box-shadow: 0px 13px 50px -17px #00000080;
    box-shadow: 0px 13px 50px -17px #00000080;
    z-index: 20;
    display: flex;
    justify-content: center;
}

.navCont {
    margin-top: 1%;

}

.navCont li {
    color: #F9F2F2;
    list-style-type: none;
    display: inline;
    font-family: 'Crimson Text', serif;
    font-size: 2rem;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.1s;
    padding-bottom: 24px;
    float: right;
    margin-top: 0.3%;

}

.navCont li:hover {
    border-bottom: 5px solid #f9f2f2;
}



.navCont a {
    color: #F9F2F2;
    text-decoration: none;
}

.navbarLogo {

    position: absolute;
    margin-left: -35%;
    margin-top: 0%;
    display: inline;
    color: #F9F2F2;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    user-select: none;
    cursor: pointer;
}

.sectionbg {
    background-color: rgb(33, 42, 35);
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    padding-bottom: 20px;
}

.sectionbg h1 {
    position: fixed;
    z-index: 0;
    color: rgba(0, 0, 0, 0.335);
    font-size: 13vw;
    text-align: right;
    float: right;
    margin-top: 3%;
    user-select: none;
    transition: 0.3s;

}

.sectionbg h1:hover {
    color: rgba(0, 0, 0, 0.692);

}

.sectionbg h2 {
    position: absolute;
    z-index: 0;
    color: rgb(0, 0, 0);
    font-size: 13vw;
    margin-top: 3%;
    margin-left: 2%;
    user-select: none;
}

.filterCont {
    background: rgba(58, 58, 58, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: inline;
    position: absolute;
    height: 75vh;
    width: 25%;
    margin-top: 13%;
    margin-left: 1.5%;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filterCont::-webkit-scrollbar {
    width: 0.8em;
}

.filterCont::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 10px;
}

.itemStorage {
    margin-top: 13%;
    display: block;
    float: right;
    width: 70%;
    height: 75vh;
    background: rgba(58, 58, 58, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: -450%;
    margin-right: 1.5%;
    z-index: 10;
    position: relative;
    overflow-y: scroll;

}

.itemStorage::-webkit-scrollbar {
    width: 0.8em;
}

.itemStorage::-webkit-scrollbar-track {
    background-color: #060d0d00;
}

.itemStorage::-webkit-scrollbar-thumb {
    background-color: #060d0d;
    border-radius: 2px;
}

.item {
    height: 400px;
    width: 20%;
    background-color: blanchedalmond;
    margin-top: 1%;
    margin-left: 1%;
    transition: .3s;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 19px 27px -7px #000000a4;
    box-shadow: 0px 19px 27px -7px #00000098;
    border: 1px solid transparent;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    padding-bottom: -100px;
    border-radius: 2px;
}

.item:hover {
    transform: translateY(-25px) scale(102%);
    -webkit-box-shadow: 0px 50px 27px -25px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 50px 27px -25px rgba(0, 0, 0, 0.52);
    border: 1px solid rgb(0, 80, 0);
}

.productname {
    font-size: 2rem;
    z-index: 40;
    height: 20%;
    bottom: 0;
    top: 80%;
    font-family: serif;
    font-weight: 100;
    color: #F9F2F2;
    background-color: #16271a79;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    position: absolute;
    padding-top: 2%;
}

.item:hover .productname {
    transform: translateY(-20px);
    font-size: 2rem;
    z-index: 40;
    top: 55%;
    background-color: #bdbdbde3;
    padding-top: 30px;
    font-size: 2rem;
    height: 50PX;
}

.item:hover .cartBtn {
    opacity: 1;
    display: block;

}

.cartBtn {
    z-index: 41;
    opacity: 0;
    display: none;
    position: absolute;
    width: 100%;
    border: none;
    transition: 0.3s;
    height: 23%;
    background-color: #003a05;
    color: #f9f2f2;
    font-size: 2rem;
    font-family: serif;
    transition: 0.5s;
    bottom: 0;
}

.cartBtn:hover {
    background-color: #050e04;


}

.aboveItemStorage {
    background-color: #f9f2f2;
    float: right;
    position: absolute;
    margin-top: 11.1%;
    z-index: 15;
    padding: 14px;
    margin-left: 85vw;
    margin-right: 5%;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0px 7px 27px -1px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 7px 27px -1px rgba(0, 0, 0, 0.52);
}

#sortProducts {
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.aboveItemStorage p {
    position: absolute;
    margin-left: -50%;
    margin-top: 1%;
    display: inline;
    color: #f9f2f2;
}

.searchbar {
    width: 90%;
    height: 4%;
    margin-top: 4%;
    margin-left: 4%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 2rem;
    -webkit-box-shadow: 0px 5px 15px 0px #0000005b;
    box-shadow: 0px 10px 15px 0px #00000054;
    font-family: serif;
    position: absolute;
}

.cartmenu {
    display: none;
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: #141414;
    z-index: 20;
    transition: 0.3s;
    opacity: 0;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 15px 50px -12px #000000;
    box-shadow: 0px 15px 50px -12px #000000;
    padding: 0;

}

.cartmenu::-webkit-scrollbar {
    width: 0.2em;
}

.cartmenu::-webkit-scrollbar-track {
    background-color: #060d0d00;
}

.cartmenu::-webkit-scrollbar-thumb {
    background-color: #060d0d;

}

.cartmenu:hover {
    background-color: #0e0e0e;
}

.cart:hover .cartmenu {

    display: block;
    opacity: 1;
}

.cartcont li {
    display: inline;
    font-size: 1.5rem;
    position: relative;
    color: rgb(255, 255, 255);

}

.cartcont li:hover {

    border: none;
}

.cartcont {
    margin-left: 20%;
}

.deletebtn {
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    display: inline;
    position: absolute;
    border: 0;
    margin-top: 6px;
    margin-left: 5px;
    transition: 0.2s;
}

.deletebtn:hover {
    background-color: red;
}

.cartcont {
    margin-left: -100px;
    float: left;
    width: 100%;
}

.checkout {
    position: fixed;
    font-size: 1.5rem;
    margin-top: 300px;
    width: 300px;
    border: none;
    background-color: black;
    color: #F9F2F2;
    padding: 10px;
    font-family: serif;
    transition: 0.3s;
    z-index: 30;
}

.checkout:hover {
    background-color: #4b5320;
}

.filters {
    color: #F9F2F2;
    font-size: 2rem;
    margin: 20px;
    margin-top: 15%;
    position: absolute;
    font-family: monospace;
}

.filters input {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.filters input:checked {
    background-color: #3a9e00;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

.applyfilter {
    font-size: 2rem;
    padding: 10px 50px 10px 50px;
    border: none;
    font-family: monospace;
    transition: 0.3s;
    -webkit-box-shadow: -1px 14px 42px 5px #000000bd;
    box-shadow: -1px 14px 42px 5px #000000ab;
}

.applyfilter:hover {
    background-color: #131313;
    color: #F9F2F2;
}

.resetfilter {
    font-size: 2rem;
    padding: 10px 50px 10px 50px;
    border: none;
    font-family: monospace;
    transition: 0.3s;
    -webkit-box-shadow: -1px 14px 42px 5px #000000bd;
    box-shadow: -1px 14px 42px 5px #000000ab;
}

.resetfilter:hover {
    background-color: #131313;
    color: #F9F2F2;
}







































@media only screen and (max-width: 1800px) {
    .item {
        height: 200px;
        width: 200px;
        background-color: blanchedalmond;
        margin-top: 1%;
        margin-left: 1%;
        transition: .3s;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px 19px 27px -7px #000000a4;
        box-shadow: 0px 19px 27px -7px #00000098;
        border: 1px solid transparent;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .item:hover .productname {
        transform: translateY(-10px);
        z-index: 40;
        background-color: #bdbdbde3;
        padding-top: 10px;
        font-size: 1.2rem;
        height: 30PX;

    }

    .item:hover .cartBtn {
        display: block;
        opacity: 1;

    }

    .productname {
        font-size: 1.2rem;
        z-index: 40;
        height: 20%;
        bottom: 0;
        top: 70%;
        font-family: serif;
        font-weight: 100;
        color: #F9F2F2;
        background-color: #16271a79;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        position: absolute;
        padding-top: 2%;
    }
}

@media only screen and (max-height: 812px) {

    html {
        overflow-x: hidden;
        width: 100vw;
    }

    body {
        overflow-x: hidden;
        width: 100vw;
    }


    .sectionbg {
        width: 100%;
        position: absolute;
        margin-top: 0;
        padding-top: 100px;
    }



    .aboveItemStorage {
        background-color: #f9f2f2;
        float: right;
        position: absolute;
        margin-top: 11.1%;
        z-index: 15;
        padding: 4px;
        margin-left: 45vw;
        border: none;
        border-radius: 4px;
        -webkit-box-shadow: 0px 7px 27px -1px rgba(0, 0, 0, 0.52);
        box-shadow: 0px 7px 27px -1px rgba(0, 0, 0, 0.52);
        display: flex;
        width: 150px;
        height: 30px;
        justify-content: center;
    }

    #sortProducts {
        font-size: 0.8rem;
    }

    .aboveItemStorage p {
        position: absolute;
        margin-left: 270px;
        margin-top: 1%;
        display: block;
        font-size: 0.9rem;
        color: #ffffff;
        width: 100px;
    }

    .filterCont {
        background: rgba(58, 58, 58, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: inline;
        position: absolute;
        height: 75vh;
        width: 33%;
        margin-top: 13%;
        margin-left: 1.5%;
        z-index: 10;
    }


    .itemStorage {
        margin-top: 13%;
        display: block;
        float: right;
        width: 60%;
        height: 75vh;
        background: rgba(58, 58, 58, 0.4);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        margin-bottom: -450%;
        margin-right: 1.5%;
        z-index: 10;
        position: relative;
        overflow-y: scroll;

    }

    .item {
        height: 200px;
        width: 200px;
        background-color: blanchedalmond;
        margin-top: 1%;
        margin-left: 1%;
        transition: .3s;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px 19px 27px -7px #000000a4;
        box-shadow: 0px 19px 27px -7px #00000098;
        border: 1px solid transparent;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden;
        z-index: 10;
    }

    .item:hover {
        transform: translateY(-10px) scale(102%);
        -webkit-box-shadow: 0px 50px 27px -25px rgba(0, 0, 0, 0.52);
        box-shadow: 0px 50px 27px -25px rgba(0, 0, 0, 0.52);
        border: 1px solid rgb(0, 80, 0);
    }


    .item:hover .productname {
        transform: translateY(-10px);
        z-index: 40;
        background-color: #bdbdbde3;
        padding-top: 10px;
        font-size: 1.2rem;
        height: 30PX;

    }

    .item:hover .cartBtn {
        display: block;
        opacity: 1;

    }

    .productname {
        font-size: 1.5rem;
        z-index: 40;
        height: 20%;
        bottom: 0;
        top: 70%;
        font-family: serif;
        font-weight: 100;
        color: #F9F2F2;
        background-color: #16271a79;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        position: absolute;
        padding-top: 2%;
    }

    .cartmenu {
        display: none;
        height: 300px;
        width: 300px;
        position: absolute;
        background-color: #141414;
        z-index: 10;
        transition: 0.3s;
        opacity: 1;
        overflow-y: scroll;
        -webkit-box-shadow: 0px 15px 50px -12px #000000;
        box-shadow: 0px 15px 50px -12px #000000;
        padding: 0;
        padding-top: 0;
        overflow-x: hidden;
    }

    .cartmenu::-webkit-scrollbar {
        width: 0.4em;
    }

    .cartcont {
        margin-left: 0;
        top: -20%;
        position: absolute;
        width: 200px;
        color: #060D0D;
        height: 300px;
        padding-top: 0;
        display: block;
    }

    .cartcont li {
        float: left;
        position: relative;
        padding: 0;
        display: block;
        font-size: 1.5rem;
        color: black;
        width: 200px;
        height: 0;
    }


    .deletebtn {
        height: 30px;
        width: 30px;
        background-color: black;
        color: rgb(255, 255, 255);
        display: inline;
        position: absolute;
        border: 0;

        transition: 0.2s;
    }

    .cartBtn {
        opacity: 0;
        display: none;
        position: absolute;
        width: 100%;
        border: none;
        transition: 0.3s;
        height: 23%;
        background-color: #003a05;
        color: #f9f2f2;
        font-size: 1rem;
        font-family: serif;
        transition: 0.3s;
        margin-top: 0;
    }

    .cartBtn:hover {
        background-color: #050e04;


    }

    .navbarLogo {
        margin-left: 0%;
        position: absolute;
        margin-top: 2.5%;
        display: inline;
        color: #F9F2F2;
        font-family: 'Crimson Text', serif;
        font-weight: 100;
        user-select: none;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .navbar {
        background-color: #060D0D;
        height: 90px;
        width: 100%;
        position: fixed;
        margin-top: 0;
        -webkit-box-shadow: 0px 13px 50px -17px #00000080;
        box-shadow: 0px 13px 50px -17px #00000080;
        z-index: 20;
        display: flex;
        justify-content: center;
    }

    .navCont {
        margin-top: -2%;
        margin-right: 5%;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
    }

    .navCont li {
        color: #F9F2F2;
        list-style-type: none;
        display: inline;
        font-family: 'Crimson Text', serif;
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 0;
        cursor: pointer;
        transition: 0.1s;
        padding-bottom: 24px;
        float: right;
        margin-top: 75px;
        padding: 10px;

    }


}